.nav{
    position: fixed;
    justify-content: space-between;
    z-index: 1;
}
.nav-logo{
    width: 120px;
    margin: 25px;
}
.nav-button{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 5px 10px 5px 10px;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}
.nav-button :hover{
    cursor: pointer;
    background-color: rgba(78, 66, 66, 0.12);
}
.nav-button > span{
    font-size: 20px;
    font-weight:500 ;
    margin-left: 5px;
}
.nav-more{
    position: fixed;
    bottom: 5px;
}
.logout-button{
    font-size: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.21);
    padding: 10px;
    border: 0;
}
.logout-avatar{
    height: 15px;
    width: 15px;
}
.nav-logout{
    
    position: fixed;
    height: 20px;
    bottom: 100px;
}
.logout-button:hover{
    cursor: pointer;
}